
PORT=3000
NODE_ENV=development
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
SESSION_SECRET=your_session_secret
CLIENT_URL=http://localhost:5173
DOG_API_URL=https://dog-adoption-api.duckdns.org/api/v1
MONGODB_URI=your_mongodb_connection_string